$font-family-prim: 'Chivo', sans-serif;
$font-family-sec: 'Overpass', sans-serif;
$font-family-logo: 'Atma', sans-serif;

$grey: #575655;
$white: #fff;
$gold: #FFC901;
$yellow: #FFBF00;
$red: #e50000;
$blue: #00BFFF;
$green: #0BDA51;
$background: #1c1c1c;


$header-height: 96px;
$header-height-tablet: 73px;