@font-face {
    font-family: 'Overpass', sans-serif;
    src: url('../fonts/overpass-light-webfont.woff2') format('woff2'),
         url('../fonts/overpass-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'Overpass', sans-serif;
    src: url('../fonts/overpass-regular-webfont.woff2') format('woff2'),
         url('../fonts/overpass-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Chivo', sans-serif;
    src: url('../fonts/chivo-regular-webfont.woff2') format('woff2'),
         url('../fonts/chivo-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Chivo', sans-serif;
    src: url('../fonts/chivo-bold-webfont.woff2') format('woff2'),
         url('../fonts/chivo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Atma', sans-serif;
    src: url('../fonts/Atma-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Atma', sans-serif;
    src: url('../fonts/Atma-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



