@import  './assets/scss/vars';

.App {
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-areas: 
        "header header header"
        "main main main"
        "review review review"
        "footer footer footer";

    background-color: $grey;
}

.App-main {
    grid-area: main;
}