@import '../../../assets/scss/vars';

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__icon {
    font-family: $font-family-prim;
    font-size: 13.1rem;
    font-weight: 700;
    line-height: 0.9;
    color: $gold;
}

.review__text {
    font-family: $font-family-sec;
    font-size: 2.7rem;
    font-weight: 300;
    color: $white;
    padding: 0 1rem;
    text-align: center;
}

@media (max-width: 320px) {
    .review__text {
        font-size: 2.4rem;
    }
}

.review__author {
    font-family: $font-family-prim;
    font-size: 3.3rem;
    font-weight: 400;
    color: $gold;
    margin-top: 4rem;
}