@import "../../assets/scss/vars";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--footer {
        justify-content: center;
        padding-top: 4rem;

        .nav__item {
            font-size: 2rem;
        }
    }

    a {
        text-decoration: none;
    }
}

@media (max-width: 992px) {
    .nav {
        display: none;
    }
}

.nav__item {
    font-family: $font-family-prim;
    font-size: 2.5rem;
    font-weight: 400;
    color: $white;
    text-decoration: none;
    margin: 0 2.5rem;
    text-transform: uppercase;
    transition: color 0.2s linear;

    &.active,
    &:hover {
        color: $gold;
    }
}

@media (max-width: 1191px) {
    .nav__item {
        margin: 0 1.5rem;
        font-size: 2.1rem;
    }
}
